# Dirs
**/.idea
**/.vscode
build/
dist/

# files
OperacoesUnitarias2/destilacaoBinaria/Flash/flash.py
OperacoesUnitarias2/destilacaoBinaria/resultados.txt
OperacoesUnitarias2/destilacaoBinaria/alteracoes.txt

# Shortcuts
*.lnk

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

## TEMPLATE Github:
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

